<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hamam.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @hamam.user.email %>
</p>

<% if policy(@hamam).edit?  %>
  <%= link_to 'Edit', edit_hamam_path(@hamam) %>
<% end %> |
<%= link_to 'Back', hamams_path %>
